@font-face {
	font-family: "iconfont";
	src: url("../assets/fonts/icons/iconfont.woff?6ec5377cef771d79642b413d1c477252") format("woff");
}

i {
    line-height: 1;
    &.icons{ 
		font-size:$s-4;
		color:var(--text);
		
		&.icon-3 {font-size:$s-3 !important;}
        &.icon-4 {font-size:$s-4 !important;}
		&.icon-5 {font-size:$s-5 !important;} 
		&.icon-6 {font-size:$s-6 !important;}
        &:before {
            font-family: iconfont !important;
            font-style: normal;
            font-weight: normal !important;
            vertical-align: top;
        }

        &.icon-activity:before {
            content: "\f101";
        }
        &.icon-alert-circle:before {
            content: "\f102";
        }
        &.icon-alert-triangle:before {
            content: "\f103";
        }
        &.icon-archive:before {
            content: "\f104";
        }
        &.icon-arrow-back:before {
            content: "\f105";
        }
        &.icon-arrow-circle-down:before {
            content: "\f106";
        }
        &.icon-arrow-circle-left:before {
            content: "\f107";
        }
        &.icon-arrow-circle-right:before {
            content: "\f108";
        }
        &.icon-arrow-circle-up:before {
            content: "\f109";
        }
        &.icon-arrow-down:before {
            content: "\f10a";
        }
        &.icon-arrow-downward:before {
            content: "\f10b";
        }
        &.icon-arrow-forward:before {
            content: "\f10c";
        }
        &.icon-arrow-ios-back:before {
            content: "\f10d";
        }
        &.icon-arrow-ios-downward:before {
            content: "\f10e";
        }
        &.icon-arrow-ios-forward:before {
            content: "\f10f";
        }
        &.icon-arrow-ios-upward:before {
            content: "\f110";
        }
        &.icon-arrow-left:before {
            content: "\f111";
        }
        &.icon-arrow-right:before {
            content: "\f112";
        }
        &.icon-arrow-up:before {
            content: "\f113";
        }
        &.icon-arrow-upward:before {
            content: "\f114";
        }
        &.icon-arrowhead-down:before {
            content: "\f115";
        }
        &.icon-arrowhead-left:before {
            content: "\f116";
        }
        &.icon-arrowhead-right:before {
            content: "\f117";
        }
        &.icon-arrowhead-up:before {
            content: "\f118";
        }
        &.icon-at:before {
            content: "\f119";
        }
        &.icon-attach-2:before {
            content: "\f11a";
        }
        &.icon-attach:before {
            content: "\f11b";
        }
        &.icon-award:before {
            content: "\f11c";
        }
        &.icon-backspace:before {
            content: "\f11d";
        }
        &.icon-bar-chart-2:before {
            content: "\f11e";
        }
        &.icon-bar-chart:before {
            content: "\f11f";
        }
        &.icon-battery:before {
            content: "\f120";
        }
        &.icon-behance:before {
            content: "\f121";
        }
        &.icon-bell-off:before {
            content: "\f122";
        }
        &.icon-bell:before {
            content: "\f123";
        }
        &.icon-bluetooth:before {
            content: "\f124";
        }
        &.icon-book-open:before {
            content: "\f125";
        }
        &.icon-book:before {
            content: "\f126";
        }
        &.icon-bookmark:before {
            content: "\f127";
        }
        &.icon-briefcase:before {
            content: "\f128";
        }
        &.icon-browser:before {
            content: "\f129";
        }
        &.icon-brush:before {
            content: "\f12a";
        }
        &.icon-bulb:before {
            content: "\f12b";
        }
        &.icon-calendar:before {
            content: "\f12c";
        }
        &.icon-camera:before {
            content: "\f12d";
        }
        &.icon-car:before {
            content: "\f12e";
        }
        &.icon-cast:before {
            content: "\f12f";
        }
        &.icon-charging:before {
            content: "\f130";
        }
        &.icon-checkmark-circle-2:before {
            content: "\f131";
        }
        &.icon-checkmark-circle:before {
            content: "\f132";
        }
        &.icon-checkmark-square-2:before {
            content: "\f133";
        }
        &.icon-checkmark-square:before {
            content: "\f134";
        }
        &.icon-checkmark:before {
            content: "\f135";
        }
        &.icon-chevron-down:before {
            content: "\f136";
        }
        &.icon-chevron-left:before {
            content: "\f137";
        }
        &.icon-chevron-right:before {
            content: "\f138";
        }
        &.icon-chevron-up:before {
            content: "\f139";
        }
        &.icon-clipboard:before {
            content: "\f13a";
        }
        &.icon-clock:before {
            content: "\f13b";
        }
        &.icon-close-circle:before {
            content: "\f13c";
        }
        &.icon-close-square:before {
            content: "\f13d";
        }
        &.icon-close:before {
            content: "\f13e";
        }
        &.icon-cloud-download:before {
            content: "\f13f";
        }
        &.icon-cloud-upload:before {
            content: "\f140";
        }
        &.icon-code-download:before {
            content: "\f141";
        }
        &.icon-code:before {
            content: "\f142";
        }
        &.icon-collapse:before {
            content: "\f143";
        }
        &.icon-color-palette:before {
            content: "\f144";
        }
        &.icon-color-picker:before {
            content: "\f145";
        }
        &.icon-compass:before {
            content: "\f146";
        }
        &.icon-copy:before {
            content: "\f147";
        }
        &.icon-corner-down-left:before {
            content: "\f148";
        }
        &.icon-corner-down-right:before {
            content: "\f149";
        }
        &.icon-corner-left-down:before {
            content: "\f14a";
        }
        &.icon-corner-left-up:before {
            content: "\f14b";
        }
        &.icon-corner-right-down:before {
            content: "\f14c";
        }
        &.icon-corner-right-up:before {
            content: "\f14d";
        }
        &.icon-corner-up-left:before {
            content: "\f14e";
        }
        &.icon-corner-up-right:before {
            content: "\f14f";
        }
        &.icon-credit-card:before {
            content: "\f150";
        }
        &.icon-crop:before {
            content: "\f151";
        }
        &.icon-cube:before {
            content: "\f152";
        }
        &.icon-diagonal-arrow-left-down:before {
            content: "\f153";
        }
        &.icon-diagonal-arrow-left-up:before {
            content: "\f154";
        }
        &.icon-diagonal-arrow-right-down:before {
            content: "\f155";
        }
        &.icon-diagonal-arrow-right-up:before {
            content: "\f156";
        }
        &.icon-digital:before {
            content: "\f157";
        }
        &.icon-done-all:before {
            content: "\f158";
        }
        &.icon-download:before {
            content: "\f159";
        }
        &.icon-droplet-off-outline:before {
            content: "\f15a";
        }
        &.icon-droplet-outline:before {
            content: "\f15b";
        }
        &.icon-edit-2:before {
            content: "\f15c";
        }
        &.icon-edit:before {
            content: "\f15d";
        }
        &.icon-email:before {
            content: "\f15e";
        }
        &.icon-expand:before {
            content: "\f15f";
        }
        &.icon-extend:before {
            content: "\f160";
        }
        &.icon-external-link:before {
            content: "\f161";
        }
        &.icon-eye-off-2:before {
            content: "\f162";
        }
        &.icon-eye-off:before {
            content: "\f163";
        }
        &.icon-eye:before {
            content: "\f164";
        }
        &.icon-facebook:before {
            content: "\f165";
        }
        &.icon-file-add:before {
            content: "\f166";
        }
        &.icon-file-remove:before {
            content: "\f167";
        }
        &.icon-file-text:before {
            content: "\f168";
        }
        &.icon-file:before {
            content: "\f169";
        }
        &.icon-film:before {
            content: "\f16a";
        }
        &.icon-filter:before {
            content: "\f16b";
        }
        &.icon-flag:before {
            content: "\f16c";
        }
        &.icon-flash-off:before {
            content: "\f16d";
        }
        &.icon-flash:before {
            content: "\f16e";
        }
        &.icon-flip-2:before {
            content: "\f16f";
        }
        &.icon-flip-in:before {
            content: "\f170";
        }
        &.icon-folder-add:before {
            content: "\f171";
        }
        &.icon-folder-remove:before {
            content: "\f172";
        }
        &.icon-folder:before {
            content: "\f173";
        }
        &.icon-funnel:before {
            content: "\f174";
        }
        &.icon-gift:before {
            content: "\f175";
        }
        &.icon-github:before {
            content: "\f176";
        }
        &.icon-globe-2:before {
            content: "\f177";
        }
        &.icon-globe:before {
            content: "\f178";
        }
        &.icon-google:before {
            content: "\f179";
        }
        &.icon-grid:before {
            content: "\f17a";
        }
        &.icon-hard-drive:before {
            content: "\f17b";
        }
        &.icon-hash:before {
            content: "\f17c";
        }
        &.icon-headphones:before {
            content: "\f17d";
        }
        &.icon-heart:before {
            content: "\f17e";
        }
        &.icon-home:before {
            content: "\f17f";
        }
        &.icon-image:before {
            content: "\f180";
        }
        &.icon-inbox:before {
            content: "\f181";
        }
        &.icon-info:before {
            content: "\f182";
        }
        &.icon-ios:before {
            content: "\f183";
        }
        &.icon-keypad:before {
            content: "\f184";
        }
        &.icon-layers:before {
            content: "\f185";
        }
        &.icon-layout-content:before {
            content: "\f186";
        }
        &.icon-layout-header:before {
            content: "\f187";
        }
        &.icon-layout-sidebar:before {
            content: "\f188";
        }
        &.icon-layout:before {
            content: "\f189";
        }
        &.icon-link-2:before {
            content: "\f18a";
        }
        &.icon-link:before {
            content: "\f18b";
        }
        &.icon-linkedin:before {
            content: "\f18c";
        }
        &.icon-list:before {
            content: "\f18d";
        }
        &.icon-loader:before {
            content: "\f18e";
        }
        &.icon-lock:before {
            content: "\f18f";
        }
        &.icon-log-in:before {
            content: "\f190";
        }
        &.icon-log-out:before {
            content: "\f191";
        }
        &.icon-map:before {
            content: "\f192";
        }
        &.icon-maximize:before {
            content: "\f193";
        }
        &.icon-menu-2:before {
            content: "\f194";
        }
        &.icon-menu-arrow-circle:before {
            content: "\f195";
        }
        &.icon-menu-arrow:before {
            content: "\f196";
        }
        &.icon-menu:before {
            content: "\f197";
        }
        &.icon-message-circle:before {
            content: "\f198";
        }
        &.icon-message-square:before {
            content: "\f199";
        }
        &.icon-mic-off:before {
            content: "\f19a";
        }
        &.icon-mic:before {
            content: "\f19b";
        }
        &.icon-minimize:before {
            content: "\f19c";
        }
        &.icon-minus-circle:before {
            content: "\f19d";
        }
        &.icon-minus-square:before {
            content: "\f19e";
        }
        &.icon-minus:before {
            content: "\f19f";
        }
        &.icon-monitor:before {
            content: "\f1a0";
        }
        &.icon-moon:before {
            content: "\f1a1";
        }
        &.icon-more-horizotnal:before {
            content: "\f1a2";
        }
        &.icon-more-vertical:before {
            content: "\f1a3";
        }
        &.icon-move:before {
            content: "\f1a4";
        }
        &.icon-music:before {
            content: "\f1a5";
        }
        &.icon-navigation-2:before {
            content: "\f1a6";
        }
        &.icon-navigation:before {
            content: "\f1a7";
        }
        &.icon-npm:before {
            content: "\f1a8";
        }
        &.icon-options-2:before {
            content: "\f1a9";
        }
        &.icon-options:before {
            content: "\f1aa";
        }
        &.icon-order:before {
            content: "\f1ab";
        }
        &.icon-pantone:before {
            content: "\f1ac";
        }
        &.icon-paper-plane:before {
            content: "\f1ad";
        }
        &.icon-pause-circle:before {
            content: "\f1ae";
        }
        &.icon-people:before {
            content: "\f1af";
        }
        &.icon-percent:before {
            content: "\f1b0";
        }
        &.icon-person-add:before {
            content: "\f1b1";
        }
        &.icon-person-delete:before {
            content: "\f1b2";
        }
        &.icon-person-done:before {
            content: "\f1b3";
        }
        &.icon-person-remove:before {
            content: "\f1b4";
        }
        &.icon-person:before {
            content: "\f1b5";
        }
        &.icon-phone-call:before {
            content: "\f1b6";
        }
        &.icon-phone-missed:before {
            content: "\f1b7";
        }
        &.icon-phone-off:before {
            content: "\f1b8";
        }
        &.icon-phone:before {
            content: "\f1b9";
        }
        &.icon-pie-chart:before {
            content: "\f1ba";
        }
        &.icon-pin:before {
            content: "\f1bb";
        }
        &.icon-play-circle:before {
            content: "\f1bc";
        }
        &.icon-plus-circle:before {
            content: "\f1bd";
        }
        &.icon-plus-square:before {
            content: "\f1be";
        }
        &.icon-plus:before {
            content: "\f1bf";
        }
        &.icon-power:before {
            content: "\f1c0";
        }
        &.icon-pricetags:before {
            content: "\f1c1";
        }
        &.icon-printer:before {
            content: "\f1c2";
        }
        &.icon-question-mark:before {
            content: "\f1c3";
        }
        &.icon-radio-button-off:before {
            content: "\f1c4";
        }
        &.icon-radio-button-on:before {
            content: "\f1c5";
        }
        &.icon-radio:before {
            content: "\f1c6";
        }
        &.icon-recording:before {
            content: "\f1c7";
        }
        &.icon-reduce:before {
            content: "\f1c8";
        }
        &.icon-refresh:before {
            content: "\f1c9";
        }
        &.icon-repeat:before {
            content: "\f1ca";
        }
        &.icon-rewind-left:before {
            content: "\f1cb";
        }
        &.icon-rewind-right:before {
            content: "\f1cc";
        }
        &.icon-save:before {
            content: "\f1cd";
        }
        &.icon-scissors:before {
            content: "\f1ce";
        }
        &.icon-search-close:before {
            content: "\f1cf";
        }
        &.icon-search-minus:before {
            content: "\f1d0";
        }
        &.icon-search-plus:before {
            content: "\f1d1";
        }
        &.icon-search:before {
            content: "\f1d2";
        }
        &.icon-settings-2:before {
            content: "\f1d3";
        }
        &.icon-settings:before {
            content: "\f1d4";
        }
        &.icon-shake:before {
            content: "\f1d5";
        }
        &.icon-share:before {
            content: "\f1d6";
        }
        &.icon-shield-off:before {
            content: "\f1d7";
        }
        &.icon-shield:before {
            content: "\f1d8";
        }
        &.icon-shopping-bag:before {
            content: "\f1d9";
        }
        &.icon-shopping-cart:before {
            content: "\f1da";
        }
        &.icon-shuffle-2:before {
            content: "\f1db";
        }
        &.icon-shuffle:before {
            content: "\f1dc";
        }
        &.icon-skip-back:before {
            content: "\f1dd";
        }
        &.icon-skip-forward:before {
            content: "\f1de";
        }
        &.icon-slash:before {
            content: "\f1df";
        }
        &.icon-smartphone:before {
            content: "\f1e0";
        }
        &.icon-smiling-face:before {
            content: "\f1e1";
        }
        &.icon-speaker:before {
            content: "\f1e2";
        }
        &.icon-square:before {
            content: "\f1e3";
        }
        &.icon-star:before {
            content: "\f1e4";
        }
        &.icon-stop-circle:before {
            content: "\f1e5";
        }
        &.icon-sun:before {
            content: "\f1e6";
        }
        &.icon-swap:before {
            content: "\f1e7";
        }
        &.icon-sync:before {
            content: "\f1e8";
        }
        &.icon-table-large:before {
            content: "\f1e9";
        }
        &.icon-table-small:before {
            content: "\f1ea";
        }
        &.icon-text:before {
            content: "\f1eb";
        }
        &.icon-thermometer-minus:before {
            content: "\f1ec";
        }
        &.icon-thermometer-plus:before {
            content: "\f1ed";
        }
        &.icon-thermometer:before {
            content: "\f1ee";
        }
        &.icon-toggle-left:before {
            content: "\f1ef";
        }
        &.icon-toggle-right:before {
            content: "\f1f0";
        }
        &.icon-trash-2:before {
            content: "\f1f1";
        }
        &.icon-trash:before {
            content: "\f1f2";
        }
        &.icon-trending-down:before {
            content: "\f1f3";
        }
        &.icon-trending-up:before {
            content: "\f1f4";
        }
        &.icon-tv:before {
            content: "\f1f5";
        }
        &.icon-twitter:before {
            content: "\f1f6";
        }
        &.icon-umbrella:before {
            content: "\f1f7";
        }
        &.icon-undo:before {
            content: "\f1f8";
        }
        &.icon-unlock:before {
            content: "\f1f9";
        }
        &.icon-upload:before {
            content: "\f1fa";
        }
        &.icon-video-off:before {
            content: "\f1fb";
        }
        &.icon-video:before {
            content: "\f1fc";
        }
        &.icon-volume-down:before {
            content: "\f1fd";
        }
        &.icon-volume-mute:before {
            content: "\f1fe";
        }
        &.icon-volume-off:before {
            content: "\f1ff";
        }
        &.icon-volume-up:before {
            content: "\f200";
        }
        &.icon-wifi-off:before {
            content: "\f201";
        }
        &.icon-wifi:before {
            content: "\f202";
        }
        &.icon-windows:before {
            content: "\f203";
        }
        

    }
}



// DARK MODE ------------------------------------ //

.dark {}