.label,
.label-medium {
    display: inline;
    padding: $s-1 $s-3;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    color: var(--title);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
	@extend %radius;
	margin: 0 $s-1 $s-2 0;

    &.label-error {border:1px solid var(--error-200);}
    &.label-primary {border:1px solid var(--primary-200);}
    &.label-secondary {border:1px solid var(--element);}
    &.label-warning {border:1px solid var(--warning-200);}
    &.label-info {border:1px solid var(--info-200);}
} 