
.sidebar {
    background-color: var(--primary-30);
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    position: fixed;
    left: 0;
    top: var(--header-height);
    transition: all 0.3s;
    z-index: 1000;
    overflow-y: auto;
  
    &.collapsed {
      width: var(--sidebar-collapsed-width);
  
      .menu-text {
        display: none;
      }
  
      .sub-menu {
        display: none !important;
      }
  
      .nav-link i.bi-chevron-down {
        display: none;
      }
    }

    .sidebar-nav {
        .nav-link {
          color: var(--text);
          padding: 0.75rem 1.5rem;
          border-left: 3px solid transparent;
          transition: all 0.3s;
      
          &:hover,
          &.active {
            color: var(--primary-100); 
          }
        }
      
        .sub-menu {
          .nav-link {
            padding: 0.5rem 1rem;
            font-size: 0.9rem;
          }
        }
      }
  }
